<h3><%= @user.username.capitalize %> Page</h3>

<% if current_user.followed_users.include? @user %>
  <%= button_to "Unfollow", follow_user_path, method: :delete %>
<% else %>
  <%= button_to "Follow", follow_user_path %>
<% end %>

<div>
  <%= pluralize(@user.followers.count, "follower") %>
</div>
<br>

<fieldset>
  <%= render @user.howls %>
</fieldset>

