<h3>Howlr Dashboard User Page</h3>

<cite>
  <b>
    Howl at the Moon?
  </b>
</cite>
<fieldset>
  <%= form_for @wordhowl do |f| %>
    <%= f.text_field :body, placeholder: "Enter Howl" %>
    <%= f.submit %>
  <% end %>
  <%= form_for @imagehowl do |f| %>
    <%= f.text_field :body, placeholder: "Enter Howl" %>
    <%= f.submit %>
</fieldset>
<br>
<br>
<div>
  <%= render current_user.howls %>
</div>

