<h3>Howlr Dashboard User Page</h3>


<cite>
  <b>
    Howl at the Moon?
  </b>
</cite>
<fieldset>
  <%= form_for @howl do |f| %>
    <%= f.text_field :content, placeholder: "Enter Howl" %>
    <%= f.submit %>
  <% end %>
</fieldset>
<br>
<br>
<div>
  <% current_user.howls.each do |howl| %>
    <div>
      <%= howl.content %>&nbsp&nbsp By: 
      <%= link_to howl.user.username, howl.user %>
    </div>
  <% end %>
</div>

